.App{
  margin: auto;


  background-color: rgba(0, 0, 0, 0.758);

}
input{
  padding: 2px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid;
  background-color: whitesmoke;
}
nav{
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs{
  margin-left: 10px;
}
